html,
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: inherit;
  color: inherit;
}

/* Color Palette */

:root {
    --med-teal: #48CBC5;
    --dark-teal: #1E9C99;
    
    --dark-blue: #045de9;
    --light-blue: #09c6f9;
    
    --black: #222;
    --light-black: #393c41;
    
    --light-gray: #f7f8f9;
    
    --dark-white: #eee;
}
