html, body {
    scroll-behavior: smooth !important;
}

body {
    background-image: linear-gradient(315deg, var(--dark-blue) 0%, var(--light-blue) 74%);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.blob-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#blob {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, var(--med-teal), var(--dark-teal));
    animation: rotate 20s infinite;
    opacity: 0.9;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }
    
    50% {
        scale: 1 1.5;
    }
    
    to {
        rotate: 360deg;
    }
}

#particleCanvas {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(12vmax);
}

.logo-container.shifted {
    position: fixed;
    top: 20px;
    left: 40px;
}

.background-logo {
    position: absolute;
    align-items: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    opacity: 0;
    animation: visualize 4s ease-in forwards;
    transition: all 1s;
}

@keyframes visualize {
    to {
        opacity: 0.1;
    }
}

.left-logo {
    
}

.right-logo {
    
}

.path {
    animation: dash 4s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.background-logo.shifted {
    height: 80px;
    width: 80px;
    display: block;
    animation: visualize-full 1s ease-in forwards;
    transition: all 1s;
    position: fixed;
    top: 20px;
    left: 40px;
}

@keyframes visualize-full {
    from {
        opacity: 0.1;
    }
    
    to {
        opacity: 1;
    }
}

.corner-logo {
    position: fixed;
    top: 20px;
    left: 40px;
    z-index: 2;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    overflow: hidden;
    transition: 1s;
    user-select: none;
}

.corner-logo > h1 {
    line-height: 64px;
    margin: 0;
}

.corner-logo.shifted {
    left: 130px;
    animation: min 1s linear forwards;
}

@keyframes min {
    to {
        width: 0;
    }
}

main {  
    position: relative;
    overflow: hidden;
}

.main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    text-align: center;
    row-gap: 20px;
}

.landing-screen {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-self: stretch;
    user-select: none;
}

.title-text-container {
    display: flex;
    font-size: 40px;
    font-weight: bold;
    color: white;
    justify-content: center;
    column-gap: 26px;
    flex-wraP: wrap;
    align-items: center;
}

.title-text {
    text-align: center;
    font-family: 'Space Mono', monospace;
}

.get-started {
    width: 200px;
    height: 50px;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid var(--med-teal);
    color: white;
    line-height: 50px;
    transition: box-shadow 1s, background-color 1s;
}

.get-started:hover {
    cursor: pointer;
    background-color: var(--med-teal);
    box-shadow: 0px 0px 16px var(--med-teal);
    --angle: 0deg;
    border-image: linear-gradient(var(--angle), var(--med-teal), var(--dark-teal)) 1;
    animation: 2s rotate ease-in infinite;
    transition: box-shadow 1s, background-color 1s;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.smooth {
    transition: transform 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fast {
    transition: transform 0.05s;
}

.subtitle-text-container {
    padding: 50px 0px;
    width: 60%;
}

.subtitle-text {
    color: white;
    font-size: 32px;
}

.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active{
    opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.scroll-arrow {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid var(--med-teal);
    border-radius: 50%;
    bottom: -20px;
    right: -50px;
}

.scroll-arrow.small {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 1s;
}

.arrow {
    font-size: 32px;
}

#scrollArrow {
    z-index: 1;
    opacity: 0;
}

#scrollArrow:hover {
    cursor: pointer;
}

#scrollArrow:hover + .small {
    cursor: pointer;
    background-color: var(--med-teal);
    border: 2px solid var(--dark-teal);
    width: 100px;
    height: 100px;
    bottom: 5px;
    right: 5px;
    box-shadow: 0px 0px 12px var(--med-teal);
    transition: all 1s;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    height: 400px;
    width: 300px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;

    background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.4),
        transparent 40%
    );
    z-index: 1;
}

#cards:hover > .card::after {
  opacity: 1;
}

.card-content {
    border-radius: inherit;
    inset: 4px;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
}

.card-text {
    color: white;
    font-size: 24px;
    margin: 0;
    padding: 20px;
}

.card-text > span {
    font-weight: bold;
    font-size: 28px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
    color: white;
    margin-top: 20px;
}