{% extends "base.html" %}

{% load static %}

{% block title %}Atlas | Take picture{% endblock %}
 
{% block head %}
<link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/atlas.css' %}">
{% endblock %}

{% block body %}
<video id="webcam" autoplay playsinline class = "camera"></video>
<main>
    <div class = "camera-interface">
        <div class = "tool-bar">
            <a id = "takePicture" download="image.png">Capture</a>
            <a id ="flipCamera">Flip</a>
            <form action="" method="POST" id = "processingForm">
                {% csrf_token %}
                <input type="submit" value="Finish">
            </form>
        </div>        
    </div>    
</main>

<script src="{% static 'js/camera.js' %}"></script>

{% endblock %}}