{% extends "base.html" %}

{% load static %}

{% block title %}Capture{% endblock %}
 
{% block head %}
<link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" type="text/css" href="{% static 'css/capture.css' %}">
{% endblock %}

{% block body %}

<form id = "upload-form" onsubmit = "return submitForm(event)">
    {% csrf_token %}
    <div class = "single-container">
        <h1 class = "upload-title">
            Upload Images
        </h1>
    </div>
    
    <template class = "floor-template">
        <div class="single-container">
            <div class = "secondary-container">
                <div class = "file-info-container">
                    <p class = "file-info"></p>
                    <p class = "fileName"></p>
                </div>
            </div>
            
            <label class = "file-label">
                <span class = "material-symbols-outlined upload-icon">upload</span>
            </label>
            <input class = "file-upload" type = "file" accept="image/*">
        </div>
    </template>
    
    <template class = "symbol-template">
        <div class="single-container">
            <div class = "secondary-container">
                <div class = "file-info-container">
                    <input class = "file-info" placeholder = "Enter symbol name...">
                    <p class = "fileName"></p>
                </div>
            </div>
            
            <label class = "file-label">
                <span class = "material-symbols-outlined upload-icon">upload</span>
            </label>
            <input class = "file-upload" type = "file" accept="image/*">
        </div>
    </template>
          
    <div class = "single-container" id = "additions">
        <button class = "add" id = "addFloor" type = "button">Add floor</button> 
        <button class = "add" id = "addSymbol" type = "button">Add Symbol</button> 
    </div>               
    <button type ="submit" id ="submit">Start processing</button>
    <button style = "display: none" url="{% url 'process:get_id' %}" id ="getId"></button>
</form>

<script src="{% static 'js/capture/capture.js' %}"></script>

{% endblock %}