{% extends "base.html" %}

{% load static %}

{% block title %}Changing Dimensionality of Maps for Indoor Navigation{% endblock %}
 
{% block head %}
<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round"
      rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<script src="https://cdn.jsdelivr.net/npm/three@0.138.3/build/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.138.3/examples/js/controls/OrbitControls.min.js"></script>
{% endblock %}

{% block body %}

<div class = "landing-screen-wrapper">
    <div class = "landing-screen">
        <div class = "logo">
            <svg viewbox="0 0 310.469 274.748" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 274.748h60l74.415-225.599L100 0 0 274.748z"/>
                <path d="M250.469 274.748h60l-76.604-100h-60l76.604 100z"/>
            </svg>
            
            <h1 class="logo-text">Atlasan</h1>
        </div>
    
        <div class = "title-text-container">
            <h1 class = "title-text">Create</h1>
            <h1 class = "title-text" id = "titleChanger">striking</h1>
            <h1 class = "title-text">models</h1>
        </div> 
        
        <a class = "get-started" href = "{% url 'process:capture' %}">Get Started</a>
    
        <div class = "scroll-arrow" id = "scrollArrow"></div>
        <div class = "scroll-arrow small">
            <span class="material-icons arrow">arrow_downward</span>
        </div>
    </div>
</div>
    
<main>
    <section class = "main-content">
        <div class = "rotating-sphere" id = "rotatingSphere"></div>
        
        <div class = "subtitle-text-container">
            <h1 class = "subtitle-text reveal fade-bottom">Changing dimensionality of <span style = "color: var(--dark-blue)">maps</span> for indoor <span style = "color: var(--med-teal)">navigation</span>.</h1>
        </div>
        
        <div class = "cards-container" id = "cards">
            <div class = "card reveal fade-bottom">
                <div class = "card-content">
                    <h1 class="card-icon"><span class="material-icons">settings</span></h1>
                    <h2 class = "card-header">Automated</h2>
                    <p class = "card-text">Simply upload photos of your map, sit back, and let Atlasan do the processing. No additional work needed.</p>
                </div>
            </div>
            <div class = "card reveal fade-bottom">
                <div class = "card-content">
                    <h1 class="card-icon"><span class="material-icons">diamond</span></h1>
                    <h2 class = "card-header">Aesthetic</h2>
                    <p class = "card-text">Enhanced rendering techniques and UI design for elegant and easily understandable models.</p>
                </div>
            </div> 
            <div class = "card reveal fade-bottom">
                <div class = "card-content">
                    <h1 class="card-icon"><span class="material-icons">location_searching</span></h1>
                    <h2 class = "card-header">Accurate</h2>
                    <p class = "card-text">Can detect text, symbols, and room layouts with limited errors even on medium quality photos.</p>
                </div>
            </div>
            <div class = "card reveal fade-bottom">
                <div class = "card-content">
                    <h1 class="card-icon"><span class="material-icons">moving</span></h1>
                    <h2 class = "card-header">Advanced</h2>
                    <p class = "card-text">Uses sophisticated algorithms combined with multiple image processing libraries to return the best results.</p>
                </div>
            </div>
            <div class = "card reveal fade-bottom">
                <div class = "card-content">
                    <h1 class="card-icon"><span class="material-icons">flash_on</span></h1>
                    <h2 class = "card-header">Agile</h2>
                    <p class = "card-text">Only takes up to a few minutes backend processing, before you can start using your fully-rendered model.</p>
                </div>
            </div>
            <div class = "card reveal fade-bottom">
                <div class = "card-content">
                    <h1 class="card-icon"><span class="material-icons">accessibility</span></h1>
                    <h2 class = "card-header">Accessible</h2>
                    <p class = "card-text">Ability to use photos taken directly from phone camera or upload your own files, and does not require sophsticated blueprints.</p>
                </div>
            </div>
        </div>
    </section>
    
</main>

<footer>
    <h1>Atlasan</h1>
    <p id = "developers">Developed by Andrei Basto and Sean Su</p>
    <p>2022 - 2023 Senior Research Project</p>
</footer>

<script src="{% static 'js/home/cards.js' %}"></script>
<script src="{% static 'js/home/changing.js' %}"></script>
<script src="{% static 'js/home/reveal.js' %}"></script>
<script src="{% static 'js/home/scroll_arrow.js' %}"></script>

<script type="module" src="{% static 'js/home/extend.js' %}"></script>
<script type="module" src="{% static 'js/home/sphere.js' %}"></script>
{% endblock %}