{% extends "base.html" %}

{% load static %}

{% block title %}Render{% endblock %}
 
{% block head %}
<script src='https://threejs.org/build/three.js'></script>
<script src='https://threejs.org/examples/js/controls/ArcballControls.js'></script>
<script src='https://threejs.org/examples/js/loaders/FontLoader.js'></script>
<script src='https://threejs.org/examples/js/controls/TrackballControls.js'></script>
<script src='https://threejs.org/examples/js/geometries/TextGeometry.js'></script>
{% endblock %}

{% block body %}
<script></script>
<script type = "text/javascript" src="../list_of_text.txt"></script>
<script type = "text/javascript" src="../list_of_points.txt"></script>
<script type="text/javascript" src = "{% static 'js/render.js'%}"></script>
{% endblock %}