{% extends "base.html" %}

{% load static %}

{% block title %}Render{% endblock %}
 
{% block head %}
<link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/render.css' %}">
<script src="https://cdn.jsdelivr.net/npm/three@0.138.3/build/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.138.3/examples/js/loaders/FontLoader.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.138.3/examples/js/controls/TrackballControls.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.138.3/examples/js/geometries/TextGeometry.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block body %}

<section id = "loadingScreen">
    <canvas id = "particleCanvas"></canvas>
    <p id = "loadingText" class = "loading-text">Loading...</p>
    <p id = "recentOutput" class = "loading-text small"></p>
</section>

<div class = "menu collapsed">
    <div class = "hamburger" id = "togglePanel" onclick="toggle_panel()"><span class="material-icons">menu</span></div>
    <img class = "logo" alt = "" src = "{% static 'images/logo.png' %}"/>
    <p class = "logo-name">Atlasan</p>
</div>

<div class = "main-container">
    <div class = "nav-panel collapsed">
        <div class = "floor-btn-container">
            <h2 class = "heading">Change Floor</h2>
            <select class = "floor-btn" id = "currentFloor" name = "Floor" onchange = "changeFloor()"></select>
        </div>
        
        <div class = "rooms-container">
            <h2 class = "heading">Navigation</h2>
            <div class = "room-input-wrapper">
                <input class = "room-input" placeholder="Start..."/>    
                <span class = "underline-animation"></span>
            </div>
            <div class = "room-input-wrapper">
                <input class = "room-input" placeholder="Destination..."/>    
                <span class = "underline-animation"></span>
            </div>
            
            <button class = "find-path" onclick="findPath()">Find path</button>
        </div>
        
        <div class = "pause-container">
            <p class = "pause">PAUSED</p>
        </div>
        
        <div class = "share-link-container">
            <button class = "share-link" onclick="copyLink()" id = "shareLink">
                <span class="material-icons">link</span>Share
            </button>
        </div>
    </div>
    
    <div class = "model-container">
        
    </div>
</div>

<script src="{% static 'js/loading.js' %}"></script>
<script type="text/javascript" src = "{% static 'js/render_model.js'%}"></script>
<script type="text/javascript" src = "{% static 'js/path.js'%}"></script>

<script type="text/javascript">

function findPath() {
    result1 = model_json["1"]["rooms"].find(room => room[0] == room1.value);
    result2 = model_json["1"]["rooms"].find(room => room[0] == room2.value);
    
    if(result1 && result2) {
        name1 = result1[0];
        name2 = result2[0];
        x1 = result1[1];
        y1 = result1[2];
        x2 = result2[1];
        y2 = result2[2];
        var url = "{% url 'render:pathfinding' id=id x1=11111 y1=22222 x2=33333 y2=44444 name1=55555 name2=66666 %}";
        url = url.replace("11111", x1.toString());
        url = url.replace("22222", y1.toString());
        url = url.replace("33333", x2.toString());
        url = url.replace("44444", y2.toString());
        url = url.replace("44444", y2.toString());
        url = url.replace("55555", name1);
        url = url.replace("66666", name2);
        console.log(url);
        $.ajax({
            url:  url,
            success: function(data) {
                createNewPath(data["path"]);
            }, failure: function(data) {
                alert("Got an error dude");
            }
        })
    }
}

function copy() {
    $('#loadingText').html("Copying images...");
    $.ajax({
        url: "{% url 'render:copy' id=id %}",
        success: function(data) {
            // $('#recentOutput').html(JSON.stringify(data));
            console.log("Finished copying images at: " + JSON.stringify(data));
            create_bash_script(); 
            
        },
        failure: function(data) { 
            alert('Got an error dude');
        }
    })
}

function create_bash_script() {
    $('#loadingText').html("Creating bash script...");
    $.ajax({
        url: "{% url 'render:create' id=id %}",
        success: function(data) {
            // $('#recentOutput').html(JSON.stringify(data));
            console.log("Finished creating bash script at: " + JSON.stringify(data));
            process_images(data);
        },
        failure: function(data) { 
            alert('Got an error dude');
        }
    })
}

function process_images () {
    $('#loadingText').html("Processing images...");
    $.ajax({
        url: "{% url 'render:process' id=id %}",
        success: function(data) {
            $('#loadingText').html("Sent images to server...");
            console.log("Finished sending images at: " + JSON.stringify(data));
            // $('#recentOutput').html(JSON.stringify(data));
            check_if_finished_processing();
        },
        error: function(xmlhttprequest, textstatus, message) {
            if(textstatus==="timeout") {
                alert("got timeout");
            } else {
                alert("status: " + textstatus + "message: " + message);
            }
        }
    })
}

function check_if_finished_processing() {
    console.log("Called check if finished processing");
    $.ajax({
        url: "{% url 'render:check' id=id %}",
        success: function(data) {
            console.log(data);
            if(data.processed == "true") {
                $('#loadingText').html("Finished processing images...");
                console.log("Finished processing images at: " + JSON.stringify(data));
                // $('#recentOutput').html(JSON.stringify(data));
                render_model(data);    
            }else {
                $('#loadingText').html("Still processing images...");
                $('#recentOutput').html(JSON.stringify(data));
                setTimeout(check_if_finished_processing, 5000);
            }
        },
        error: function(xmlhttprequest, textstatus, message) {
            if(textstatus==="timeout") {
                alert("got timeout");
            } else {
                alert("status: " + textstatus + "message: " + message);
            }
        }
    })
}

function copyLink() {
    navigator.clipboard.writeText("{{ request.build_absolute_uri }}");
    var shareLink = document.getElementById("shareLink");
    var before = shareLink.innerHTML;
    shareLink.innerHTML = "Copied Link!"; 
    setTimeout(function() {
        shareLink.innerHTML = before;
    },1000);
}

$.ajax({
    url: "{% url 'render:check' id=id %}",
    success: function(data) {
        if(data.processed == "true") {
            document.getElementById("loadingText").innerHTML = "Loading rendered model";
            console.log("Already have JSON file");
            render_model(data);    
        }else {
            console.log("Do not already have JSON");
            copy();
        }
    },
    error: function(xmlhttprequest, textstatus, message) {
        if(textstatus==="timeout") {
            alert("got timeout");
        } else {
            alert("status: " + textstatus + "message: " + message);
        }
    }
})

</script>
{% endblock %}