{% extends "base.html" %}

{% load static %}

{% block title %}Atlas | Render{% endblock %}
 
{% block head %}
<script src='https://threejs.org/build/three.js'></script>
<script src='https://threejs.org/examples/js/controls/ArcballControls.js'></script>
<script src='https://threejs.org/examples/js/loaders/FontLoader.js'></script>
<script src='https://threejs.org/examples/js/controls/TrackballControls.js'></script>
<script src='https://threejs.org/examples/js/geometries/TextGeometry.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block body %}

<section id = "loadingScreen">
    <p id = "loadingText"></p>
    <p id = "recentOutput"></p>
</section>

<script type="text/javascript" src = "{% static 'js/render_model.js'%}"></script>

<script type="text/javascript">

copy = function () {
    $('#loadingText').html("Copying images...");
    $.ajax({
        url: "{% url 'render:copy' id=id %}",
        success: function(data) {
            $('#recentOutput').html(JSON.stringify(data));
            create_bash_script(); 
            
        },
        failure: function(data) { 
            alert('Got an error dude');
        }
    })
},

create_bash_script = function () {
    $('#loadingText').html("Creating bash script...");
    $.ajax({
        url: "{% url 'render:create' id=id %}",
        success: function(data) {
            $('#recentOutput').html(JSON.stringify(data));
            process_images(data);
        },
        failure: function(data) { 
            alert('Got an error dude');
        }
    })
};

process_images = function () {
    $('#loadingText').html("Processing images...");
    $.ajax({
        url: "{% url 'render:process' id=id %}",
        success: function(data) {
            $('#loadingText').html("Finished processing images...");
            // $('#recentOutput').html(JSON.stringify(data));
            render_model(data);
        },
        error: function(xmlhttprequest, textstatus, message) {
            if(textstatus==="timeout") {
                alert("got timeout");
            } else {
                alert("status: " + textstatus + "message: " + message);
            }
        },
        timeout: 300000 // 5 minutes
    })
};

copy();
</script>
{% endblock %}