{% extends "base.html" %}

{% load static %}

{% block title %}Atlas | Render{% endblock %}
 
{% block head %}
<script src='https://threejs.org/build/three.js'></script>
<script src='https://threejs.org/examples/js/controls/ArcballControls.js'></script>
<script src='https://threejs.org/examples/js/loaders/FontLoader.js'></script>
<script src='https://threejs.org/examples/js/controls/TrackballControls.js'></script>
<script src='https://threejs.org/examples/js/geometries/TextGeometry.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block body %}

<section id = "loadingScreen">
    <p id = "loadingText"></p>
    <p id = "recentOutput"></p>
</section>

<script type="text/javascript" src = "{% static 'js/render_model.js'%}"></script>

<script type="text/javascript">

function copy() {
    $('#loadingText').html("Copying images...");
    $.ajax({
        url: "{% url 'render:copy' id=id %}",
        success: function(data) {
            // $('#recentOutput').html(JSON.stringify(data));
            console.log("Finished copying images at: " + JSON.stringify(data));
            create_bash_script(); 
            
        },
        failure: function(data) { 
            alert('Got an error dude');
        }
    })
}

function create_bash_script() {
    $('#loadingText').html("Creating bash script...");
    $.ajax({
        url: "{% url 'render:create' id=id %}",
        success: function(data) {
            // $('#recentOutput').html(JSON.stringify(data));
            console.log("Finished creating bash script at: " + JSON.stringify(data));
            process_images(data);
        },
        failure: function(data) { 
            alert('Got an error dude');
        }
    })
}

function process_images () {
    $('#loadingText').html("Processing images...");
    $.ajax({
        url: "{% url 'render:process' id=id %}",
        success: function(data) {
            $('#loadingText').html("Sent images to server...");
            console.log("Finished sending images at: " + JSON.stringify(data));
            // $('#recentOutput').html(JSON.stringify(data));
            check_if_finished_processing();
        },
        error: function(xmlhttprequest, textstatus, message) {
            if(textstatus==="timeout") {
                alert("got timeout");
            } else {
                alert("status: " + textstatus + "message: " + message);
            }
        }
    })
}

function check_if_finished_processing() {
    console.log("Called check if finished processing");
    $.ajax({
        url: "{% url 'render:check' id=id %}",
        success: function(data) {
            console.log(data);
            if(data.processed == "true") {
                $('#loadingText').html("Finished processing images...");
                console.log("Finished processing images at: " + JSON.stringify(data));
                // $('#recentOutput').html(JSON.stringify(data));
                render_model(data);    
            }else {
                $('#loadingText').html("Still processing images...");
                $('#recentOutput').html(JSON.stringify(data));
                setTimeout(check_if_finished_processing, 5000);
            }
        },
        error: function(xmlhttprequest, textstatus, message) {
            if(textstatus==="timeout") {
                alert("got timeout");
            } else {
                alert("status: " + textstatus + "message: " + message);
            }
        }
    })
 
}

$.ajax({
    url: "{% url 'render:check' id=id %}",
    success: function(data) {
        if(data.processed == "true") {
            $('#loadingText').html("Loading rendered model images...");
            console.log("Already have JSON file");
            render_model(data);    
        }else {
            console.log("Do not already have JSON");
            copy();
        }
    },
    error: function(xmlhttprequest, textstatus, message) {
        if(textstatus==="timeout") {
            alert("got timeout");
        } else {
            alert("status: " + textstatus + "message: " + message);
        }
    }
})

</script>
{% endblock %}